@media screen and (min-width: 1001px) {
    body {
        padding-left: 3rem;
        max-width: 90%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    body {
        max-width: 100%;
        font-size: 1rem;
    }
}

main {
    background-color: rgba(23, 36, 126, 0.7);
    border-radius: 2%;
    height: 100%;
    width: 80%;
}

h1 {
    font-size: 2.5rem;
    padding-left: 1rem;
}

summary {
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 2rem;
    font-weight: bold;
}

details p {
    padding-left: 1rem;
    padding-right: 0.5rem;
}
