body{
    padding-left: 3em;
    max-width: 80%;
    font-size: 0.8em;
}

main {
    background-color: rgb(124, 17, 224, 0.7);
    border-radius: 2%;
    height: 100%;
    width: 80%;
}

h1{
    font-size: 1.8em;
    padding-left: 0.5em;
}

summary{
    font-size: 1.25em;
    padding: 0.5em;
    padding-left: 1.5em;
    font-weight: bold;
}

details p {
    padding-left: 1em;
}