@media screen and (min-width: 1001px) {
    body {
        padding-left: 3rem;
        max-width: 90%;
    }

    h1 {
        font-size: 2.5rem;
        padding-left: 1rem;
    }
    
    summary {
        font-size: 1.5rem;
        padding: 1.5vw;
        padding-left: 2rem;
        font-weight: bold;
    }

    main {
        background-color: rgba(23, 36, 126, 0.7);
        border-radius: 2%;
        height: 100%;
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        max-width: 100%;
    }

    h1 {
        font-size: 6vw;
        padding-left: 1rem;
    }

    summary {
        font-size: 4vw;
        padding: 1.5vw;
        padding-left: 2rem;
        font-weight: bold;
    }

    main {
        background-color: rgba(23, 36, 126, 0.7);
        border-radius: 2%;
        height: 100%;
    }
}

details p {
    padding-left: 1rem;
    padding-right: 0.5rem;
}
