@media screen and (min-width: 480px) {
    button {
        font-family: 'Eczar', serif;
        font-weight: bold;
        color: rgb(245, 245, 245);
        font-size: 3em;
        padding: 0.25em;
        margin: 0.025em;
        border: 0.05em solid rgb(245, 245, 245);
        background-color: rgba(124, 17, 224, 0.9);
        text-align: right;
        width: 45%;
        position: relative;
        left: -18%;
        transition: left 0.4s ease-out;
    }
    
    button img {
        position: relative;
        width: 1em;
        height: 1em;
        top: 0.2em;
    }
    
    button:hover{
        left: -9%;
        background-color: rgba(9, 151, 173, 0.9);
        transition: left 0.4s ease-out;
    }

    body > img{
        max-width: 20%;
        position: absolute;
        top: 30vh;
        left: 70vw;
    }

    ul {
        list-style-type: none;
        position: relative;
        top: 20vh;
        bottom: 20vh;
    }    
}

@media screen and (max-width: 479px) {
    button {
        font-family: 'Eczar', serif;
        font-weight: bold;
        color: rgb(245, 245, 245);
        font-size: 2.25em;
        padding: 0.25em;
        margin: 0.025em;
        border: 0.05em solid rgb(245, 245, 245);
        background-color: rgba(124, 17, 224, 0.9);
        text-align: left;
        position: relative;
        transition: left 0.3s;
        width: 90%;
    }
    
    button img {
        position: relative;
        width: 1em;
        height: 1em;
        top: 0.2em;
    }
    
    button:hover{
        background-color: rgba(224, 17, 189, 0.9);
        transition: left 0.3s;
    }

    body > img{
        width: 10em;
        position: absolute;
        left: 32vw;
        bottom: 80vh;
    }

    ul {
        list-style-type: none;
        position: relative;
        top: 15em;
    }  
}

