@media screen and (min-width: 1001px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15vw;
    }

    button {
        font-family: "Eczar", serif;
        font-weight: bold;
        color: rgb(245, 245, 245);
        font-size: 3.1vw;
        padding: 1rem;
        padding-left: 20vw;
        margin: 0.03rem;
        border: 0.1rem solid rgb(245, 245, 245);
        background-color: rgba(23, 36, 126, 0.9);
        position: relative;
        left: -22vw;
        width: 48vw;
        height: 14vh;
        text-align: right;
        transition: left 0.4s ease-out;
    }

    button img {
        width: 3vw;
        height: 3vw;
        vertical-align: middle;
    }

    button:hover {
        left: -10vw;
        background-color: rgba(9, 151, 173, 0.9);
        transition: left 0.4s ease-out;
    }

    body > img {
        width: 22.5vw;
    }
}

@media screen and (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20vh;
    }

    button {
        font-family: "Eczar", serif;
        font-weight: bold;
        color: rgb(245, 245, 245);
        font-size: 6vw;
        padding: 1rem;
        margin: 0.03rem;
        border: 0.1rem solid rgb(245, 245, 245);
        background-color: rgba(23, 36, 126, 0.9);
        text-align: center;
        width: 80vw;
        position: relative;
        transition: left 0.4s;
        margin-left: auto;
        margin-right: auto;
        left: -1.5rem;
    }

    button img {
        display: none;
    }

    button:hover {
        background-color: rgba(9, 151, 173, 0.9);
        transition: left 0.4s;
    }

    body > img {
        width: 35vw;
        height: auto;
        bottom: 55vh;
        align-self: center;
        margin: 0 auto;
    }
}

ul {
    list-style-type: none;
}
