ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}
#logout {
    text-decoration: underline;
    font-size: 1.5vw;
    padding: 1rem;
}

button {
    display: inline;
    background-color: inherit;
    padding: 0rem;
    border-width: 0rem;
    color: rgb(245, 245, 245);
}

button p {
    display: none;
    border: 0.1rem solid rgb(245, 245, 245);
    font-size: 1.25rem;
    padding: 0.75rem;
    z-index: 1;
    margin-block-start: 0rem;
}

button:hover p {
    position: fixed;
    display: block;
    left: 1vw;
    background-color: rgba(37, 39, 56, 0.9);
}

@media screen and (min-width: 1001px) {
    button p {
        width: 90vw;
        border-radius: 3rem;
    }

    main {
        height: 90vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    table {
        font-family: "Eczar", serif;
        color: rgb(245, 245, 245);
        margin: 0.03rem;
        text-align: center;
    }

    td {
        border: 0.1rem solid rgb(245, 245, 245);
        border-radius: 5vh;
    }
    thead td {
        border-top-left-radius: 5vh;
        border-top-right-radius: 5vh;
        margin-block-start: 0em;
        padding: 1rem 0rem 0.5rem;
        border-bottom: 0.5rem solid rgb(245, 245, 245);
        font-size: 3.1vw;
        font-weight: bold;
        background-color: rgba(9, 151, 173, 0.9);
    }

    tbody td {
        background-color: rgba(23, 36, 126, 0.9);
        font-size: 2.4vw;
        padding: 2rem;
    }

    table img {
        display: block;
        width: 3vw;
        height: auto;
        margin: 0rem auto;
    }
}

@media screen and (max-width: 1000px) {
    button p {
        width: 87vw;
        border-radius: 3rem;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 86vh;
    }

    table {
        font-family: "Eczar", serif;
        color: rgb(245, 245, 245);
        margin: 0.1rem auto;
        vertical-align: middle;
        text-align: center;
    }

    td {
        border: 0.1rem solid rgb(245, 245, 245);
        border-radius: 3vh;
    }

    #logout {
        font-size: 3vw;
    }

    thead td {
        font-weight: bold;
        padding: 0.5vh;
        border-bottom: 0.3vh solid rgb(245, 245, 245);
        font-size: 7vw;
        background-color: rgba(9, 151, 173, 0.9);
    }

    tbody td {
        font-size: 6vw;
        padding: 1.5rem;
        background-color: rgba(23, 36, 126, 0.9);
    }

    td > img {
        display: block;
        padding: 0.5vh;
        width: auto;
        height: 5vh;
        margin: 0rem auto;
    }
}
