@media screen and (min-width: 1001px) {
    #core {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10vw;
    }

    aside {
        position: relative;
        float: left;
        height: 97vh;
        width: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    aside div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        font-size: 1.25rem;
        border: 0.1rem solid rgb(245, 245, 245);
        background-color: rgba(23, 36, 126, 0.9);
        padding: 0.5rem;
        width: 15vw;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0rem;
    }

    td {
        float: left;
        width: 4vh;
        height: 4vh;
        background-color: rgba(23, 36, 126, 0.9);
        border: 0.1vw solid rgba(245, 245, 245, 0.2);
    }

    div p {
        margin-block: 0rem;
    }

    div img {
        width: 6rem;
        height: auto;
        padding: 1rem;
    }

    #comandi > button {
        display: none;
    }

    button#pausa {
        background-color: rgba(23, 36, 126, 0.9);
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        padding: 1rem;
        border: 0.1vh solid rgb(245, 245, 245);
    }

    #pausa > img {
        padding: 0rem;
        margin: 0rem;
        vertical-align: middle;
    }

    button#pausa:hover {
        background-color: rgba(9, 151, 173, 0.9);
    }

    div#nome_giocatore1 {
        border-radius: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    nav {
        z-index: 1;
        position: relative;
    }

    #core {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90vh;
    }

    aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        margin: 1rem 0rem;
    }

    aside div {
        text-align: center;
        vertical-align: middle;
        font-size: 4vw;
        border: 0.1vh solid rgb(245, 245, 245);
        padding: 1vh;
        background-color: rgba(23, 36, 126, 0.9);
    }

    main {
        padding-top: 0.5rem;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0rem;
    }

    td {
        float: left;
        width: 5.5vmin;
        height: 5.5vmin;
        background-color: rgba(23, 36, 126, 0.9);
        border: 0.1vw solid rgba(245, 245, 245, 0.2);
    }

    div p {
        margin-block: 0rem;
    }

    div#comandi {
        display: flex;
        justify-content: center;
    }

    #comandi button {
        background-color: rgba(23, 36, 126, 0.9);
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.2rem;
        margin: 0.25rem;
        float: left;
        border: 0.1vh solid rgb(245, 245, 245);
    }

    #comandi button > img {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
    }

    button#pausa {
        background-color: rgba(23, 36, 126, 0.9);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        border: 0.1vh solid rgb(245, 245, 245);
    }

    #pausa > img {
        padding: 0rem;
        margin: 0rem;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
    }

    div#nome_giocatore1 {
        display: none;
    }
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
    td {
        float: left;
        width: 4.5vmin;
        height: 4.5vmin;
        background-color: rgba(23, 36, 126, 0.9);
        border: 0.1vw solid rgba(245, 245, 245, 0.2);
    }
}
