body {
    font-size: 1rem;
}

thead td {
    font-weight: bold;
    background-color: rgba(23, 36, 126, 0.9);
}

table {
    border-collapse: collapse;
    margin: 1.5rem auto;
}

main {
    overflow-x: auto;
}

td {
    border: 0.05rem solid rgba(23, 36, 126, 0.9);
    padding: 0.5rem 2rem;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgba(120, 192, 224, 0.9);
}

tbody tr:nth-child(even) {
    background-color: rgba(68, 157, 209, 0.9);
}

button {
    width: 60%;
    height: 1.5rem;
    font-weight: bold;
}

tbody tr:nth-child(odd) button {
    color: rgba(120, 192, 224);
}

tbody tr:nth-child(even) button {
    color: rgba(68, 157, 209);
}

td.bottone {
    padding: 0rem;
}

.db_vuoto {
    width: 100vw;
    text-align: center;
    font-size: 2.5rem;
}

@media screen and (max-width: 1000px) {
    nav {
        z-index: 1;
        position: relative;
    }
}
