body {
    font-family: "Titillium Web", sans-serif;
    background-image: url(/Progetto/images/game-pattern.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(245, 245, 245);
}

nav {
    display: block;
    position: absolute;
    z-index: 9999;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

nav img {
    width: 2vw;
    display: inline;
    padding: 0.5vh;
    border: 0.1rem rgb(23, 36, 126) solid;
    border-radius: 40%;
    background-color: rgba(44, 53, 190, 0.9);
}

nav button {
    background-color: transparent;
    border: 0rem;
}

nav img:hover {
    background-color: rgba(9, 151, 173, 0.9);
}